*{
	margin: 0PX;
	padding: 0PX;
	box-sizing: border-box;
}


.App{
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  margin:0% auto;
  padding-top: 90px;
  flex-direction: column;
  
}
body{
  background-color: #faf6ef
}
